@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 20px
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333
}

#menuToggle {
    display: block;
    position: absolute;
    border-radius: 4px;
    top: 10px !important;
    right: 20px !important;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    display: block;
    background: #fff;
    width: 80px;
    height: 40px;
    text-align: left;
    background: #fff !important
}

#menuToggle:hover {
    box-shadow: rgb(0 0 0 / 40%) 0 14px 36px -10px
}

#menuToggle::before {
    content: 'MENÚ';
    display: flex;
    padding: 8px 10px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
}

#menuToggle a {
    text-decoration: none;
    color: #484848;
    transition: color .3s ease;
    font-size: .9rem;
    line-height: 1.6rem
}

#menuToggle a:hover {
    color: #000000
}

#menuToggle input {
    display: block;
    width: 80px !important;
    height: 40px !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none
}

#menuToggle span {
    left: 53px;
    top: -28px;
    display: block;
    width: 16px !important;
    height: 2px !important;
    margin-bottom: 4px !important;
    position: relative;
    background: #000000 !important;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform .5s cubic-bezier(.77, .2, .05, 1), background .5s cubic-bezier(.77, .2, .05, 1), opacity .55s ease
}

#menuToggle span:first-child {
    transform-origin: 0 0
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
    width: 10px !important
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 3px) !important
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(.2, .2)
}

#menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -4px) !important;
    width: 16px !important
}

#menuToggle spanToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -4px) !important
}

#menu {
    position: fixed !important;
    width: 300px;
    margin: 0 !important;
    padding: 70px 40px 0 !important;
    right: -20px !important;
    background: #fff !important;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform .5s cubic-bezier(.77, .2, .05, 1);
    box-shadow: 0 30px 30px 0 rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 30px 30px 0 rgb(0 0 0 / 20%);
    -o-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, .2);
    height: 100%;
    top: 0
}

#menu li {
    padding: 10px 0;
    font-size: 16px;
    line-height: 2.2
}

#menuToggle input:checked~ul {
    transform: none;
    transform: scale(1, 1);
    opacity: 1
}


.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto
}

.contenidoBody>.container {
    position: relative;
    background: #fff
}

.contenidoBody>.container-fluid>.container>.row {
    margin-bottom: 3%
}

.contenidoBody>.container>.row {
    margin-bottom: 0 !important
}

.contenidoBody {
    position: relative
}

.contenidoBody .container-fluid {
    background: #f5f5f5
}

.container-fluid.cabecera .container {
    padding-left: 0;
    padding-right: 0
}


.row {
    margin-left: -15px;
    margin-right: -15px
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body p,
body ul li {
    font-size: .9rem
}

p {
    margin: 0 0 10px
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

a {
    background-color: transparent
}

img {
    object-fit: cover
}

.banner {
    background-image: url("../images/PorQue_tienda.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner h1 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.banner h2 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.banner p {
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

/*Desplegable*/

.opciones-container {
    position: relative;
}

.opciones-toggle {
    display: none;
}

.opciones-toggle+label {
    font-family: 'Roboto';
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 20px 0px 10px;
    /* background-color: #ccc; */
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.opciones-toggle+label i {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

.opciones-toggle:checked+label i {
    transform: rotate(180deg);
}

.opciones {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    /* establecer padding a 0 */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    width: 300px;
}

.opciones-toggle:checked+label+.opciones {
    max-height: 200px;
}

.opciones a {
    text-decoration: none;
    color: #000000;
}


.opciones ul {
    padding-inline-start: 10px !important;
}

.opciones li {
    margin: 5px 0;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    list-style: none;
}

.opciones li:hover {
    background-color: #ccc;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both
}

.btn-group>.btn-group,
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
    float: left
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
}

.h2,
h2 {
    font-size: 30px
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h3,
h3 strong {
    font-family: Roboto-bold !important;
    font-size: 20px
}

header {
    z-index: 16;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    transition: none !important
}

header .logo {
    float: left;
    margin-top: 20px;
    padding: 0 10px;
    list-style: none
}

header .logo img.logo-svg {
    width: 320px
}

header .right-container {
    float: right;
    color: #484848;
    font-family: Roboto-semibold;
    list-style: none;
    padding: 8px 17px 0 0 !important;
    line-height: 25px;
    margin: 20px 10px 0 0
}

header .right-container .links {
    display: flex
}

header .right-container .links .link .link-barra {
    background: 0 0;
    border-bottom: 2px solid #ffd300;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Roboto-semibold;
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}

header .right-container .links .link .link-barra:hover {
    border-bottom: 2px solid #fd314a;
    opacity: 1
}

.header_full_image.submenuBlanco {
    max-height: 631px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 500px;
    position: relative
}

.interna-tecnicastecnologias .header_full_image.submenuBlanco {
    max-height: 400px !important;
    height: 400px !important;
    margin-bottom: 40px
}

.detalle_entradablog .header_full_image.submenuBlanco {
    max-height: 400px !important;
    height: 400px !important
}

.interna-tecnicastecnologias .header_full_image.submenuBlanco .descripcion {
    color: #fff;
    text-align: center
}

.central-tecnicastecnologias .header_full_image:before {
    opacity: 0
}

.header_full_image:before {
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    content: ' ';
    opacity: .3
}

.header_full_image.submenuBlanco .container {
    height: auto;
    position: relative
}

.header_full_image.submenuBlanco .titulo,
.header_full_image.submenuBlanco .tituloBody {
    padding-left: 0;
    color: #fff;
    margin-top: 15%
}

.header_full_image.submenuBlanco .titulo h1,
.header_full_image.submenuBlanco .tituloBody h1 {
    font-family: Roboto-sc-bold;
    font-size: 40px;
    line-height: 42px;
    padding-left: 0
}

.header_full_image.submenuBlanco .tituloBody h1,
.interna-tecnicastecnologias .header_full_image.submenuBlanco .titulo h1 {
    text-align: center;
    margin: 0 90px
}

.header_full_image.submenuBlanco .titulo h1 {
    margin-top: 150px
}

.header_full_image.submenuBlanco .titulo p {
    margin-bottom: 35px;
    font-family: Roboto !important;
}

.header_full_image.submenuBlanco a.btn-arrow {
    color: #22222e;
    background: #ffd300;
    font-family: Roboto !important;
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 8px;
    height: auto !important;
    font-size: .9rem !important;
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}

.header_full_image.submenuBlanco .titulo a.btn-arrow::after {
    content: '\e92c';
    color: #22222e;
    padding-left: 10px;
    font-family: icomoon;
    font-size: 12px;
    border-bottom: none;
    -webkit-transition-duration: .4s;
    transition-duration: .4s
}


.scroll-icon a {
    position: fixed;
    bottom: 40%;
    right: 50%;
    color: #fff;
    text-transform: uppercase
}

.scroll-icon a::after {
    content: "\e904";
    font-family: icomoon;
    font-size: 10px;
    padding-left: 5px
}

.contenidoBody>.CR120.container-fluid.container-fluid>.container,
.contenidoBody>.aviso-destacado.container-fluid.container-fluid>.container {
    padding-top: 1%
}

.contenidoBody>.CR120.container-fluid.container-fluid>.container>.row,
.contenidoBody>.aviso-destacado.container-fluid.container-fluid>.container>.row {
    margin-bottom: 0
}

.header_full_image.submenuBlanco ol.breadcrumbs {
    counter-reset: none !important;
    list-style-type: decimal !important;
    margin: 50px 0 0 0 !important;
    padding-left: 0;
    font-family: Roboto-bold !important;
    font-size: 14px
}

.header_full_image.submenuBlanco ol.breadcrumbs li {
    padding-left: initial;
    position: relative;
    z-index: 0;
    margin: 0 10px 0 0 !important;
    float: left;
    display: inline;
    top: 0;
    color: #ffffffab
}

.header_full_image.submenuBlanco ol.breadcrumbs li a {
    color: #fff
}

.header_full_image.submenuBlanco ol.breadcrumbs li:last-child {
    font-family: Roboto !important;
}



.boton,
button {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    border: none
}




a.btn {
    border-radius: 0 !important;
    cursor: pointer;
    color: #fff !important;
    padding: 16px 24px;
    font-size: .9rem !important;
    font-family: Roboto;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    margin-right: 5px;
    white-space: normal
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

ol,
ul {
    margin-bottom: 10px;
    font-size: 1rem
}

dl,
ol,
ul {
    margin-top: 0
}

      /*Aquí debajo va el FOOTER*/

      footer {
        width: 100%;
        /* padding: 50px 0px; */
        /* margin-top: -150px; */
        padding-bottom: 10px;
        margin-bottom: -20px;
        font-size: 16px;
        background-color: #1D1D1B;
        background-size: cover;
      }

      .container__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1280px;
        margin: auto;
        margin-top: 100px;
      }

      .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

      .box__footer .logo img {
        margin-top: 20px;
        width: 160px;
      }

      .box__footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
      }

      .titulo-footer {
        margin-bottom: 30px;
        color: #fff;
        font-weight: 700;
      }

      .politicas-privacidad{
        color: #fff;
      }

      .politicas-privacidad:hover{
        color: #d6d6d6 !important; 
      }

      #texto-f{
        margin-top: -8px;
      }

      .texto-footer {
        margin-top: 10px;
        color: #fff !important;
        font-weight: 400;
      }

      .box__footer a:hover {
        opacity: 0.8;
      }

      .box__footer a .fab {
        font-size: 20px;
      }

      .box__copyright {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
      }

      .box__copyright p {
        margin-top: 20px;
        color: #fff;
      }

      .box__copyright hr {
        border: none;
        height: 1px;
        background-color: #fff;
      }


@media (max-width: 991px) {
    .container {
        width: 100%
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media screen and (min-width: 1280px) {
    .sticky-nav .nav-link-default {
        padding-right: 20px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

@media (max-width: 480px) {
    header .logo {
        width: 70%
    }

    header .logo img.logo-svg {
        width: 100% !important
    }

    header .right-container {
        display: block !important
    }

    header .right-container .links {
        display: none !important
    }
  
    .header_full_image.submenuBlanco {
        background-position: right !important
    }

    .header_full_image.submenuBlanco .titulo {
        margin-left: 150px;
        margin-top: 50%;
        width: 57%
    }

    .central-tecnicastecnologias .header_full_image.submenuBlanco .titulo h1 {
        font-size: 35px;
        line-height: 40px;
        margin-top: auto;
    }

    .central-tecnicastecnologias .header_full_image.submenuBlanco a.btn-arrow {
        padding: 16px
    }

    .header_full_image.submenuBlanco .titulo {
        margin-top: 60%;
        padding-right: 0
    }
}

@media (max-width: 768px) {

    .grid-container {
        grid-template-columns: 1fr;
    }
}